.navbar {
    height: 4em;
}

.nav-link {
    color: #edf2f4;
    font-size: 1.2em;
}

.navbar a:hover {
    text-decoration: none;
}

footer {
    height: 3em;
}

.footer-text {
    display: flex;
    justify-content: center;
}

#connect-button {
    font-size: 1.5em;
    background-color: #2b9348;
    color: white;
}

#connect-button svg {
    height: 1em;
    width: 1em
}

#auth-page {
    position: absolute;
    top: 30%;
    left: 20%;
    right: 20%;
}

#profile-pic {
    height: 210px;
    width: 250px;
    border-radius: 5px;
}

#profile-pic-navbar {
    height: 48px;
    width: 48px;
}

#profile-pic-reviews {
    height: 32px;
    width: 32px;
}

.home-link a {
    text-decoration: underline;
    text-decoration-thickness: 1.5px;
    font-weight: lighter;
}

a {
    text-decoration: none;
    color: black
}

a:hover {
    text-decoration: underline;
}


#info-list li {
    font-size: 0.85em;
}

#related-artist-img {
    height: 64px;
    width: 64px;
    border-radius: 5px;
}

#artist-profile-img {
    height: 320px;
    width: 280px;
    border-radius: 5px;
}

#artist-profile-album-img {
    height: 200px;
    width: 200px;
    border-radius: 5px;
}


#add-fav-form p {
    display: inline-block;
}

.nav-tabs button {
    color: black;
}

#review-avg-star {
    color: #fdc500;
}

.home-card-img {
    position: relative;
}

.home-card-img:hover>img,
.home-card-img>div:hover>img {
    webkit-filter: blur(6px);
    /* Chrome, Safari, Opera */
    filter: blur(6px) invert(25%);

}

.hide-links-unless-hovered>section a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.home-card-img div {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    bottom: 60%;
    top: 20%;
    left: 10%;
    right: 10%;
}

.home-card-img:hover div,
.home-card-img div:hover {
    visibility: visible;
    opacity: 1;
}